<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Time Bank</title>
    <!-- Add your CSS links, meta tags, etc. here -->

    <!-- Organization structured data -->
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Organization",
      "name": "Timebank GECW",
      "url": "https://www.timebank.great-site.net/"
    }
    </script>
</head>
<body>
    {{{body}}}
    <!-- Add your script tags here -->
</body>
</html>
