<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Time Bank</title>
    <!-- Add your CSS links, meta tags, etc. here -->
</head>
<body>
    {{{body}}}
    <!-- Add your script tags here -->
</body>
</html>